Flask-Cors==3.0.10
# anuvaad_auditor==0.1.6
anuvaad-auditor==1.0.0
Flask-RESTful==0.3.8
six==1.15.0
Flask==2.1.0
uuid==1.30
Flask-Mail==0.9.1
requests
pandas==1.2.3
pymongo==3.11.0
apscheduler==3.9.1
