*/**/sample-data
*/**/.ipynb_checkpoints/*
*.log
.idea
.DS_Store
__pycache__/
## for anuvaad-fe
##  - build
##  - node_modules
**/build
**/node_modules
#__pycache__/
anuvaad-etl/anuvaad-extractor/document-processor/ocr/ocr-tesseract-server/src/utilities/indic_hw_ocr/models/Tamil_indic_pretrained_best_wer.pth
anuvaad-etl/anuvaad-extractor/document-processor/ocr/ocr-tesseract-server/src/utilities/indic_hw_ocr/models/Devanagari_indic_pretrained_best_wer.pth
anuvaad-etl/anuvaad-extractor/document-processor/layout-detector/prima/src/utilities/primalaynet/model_final.pth
anuvaad-etl/anuvaad-extractor/document-processor/layout-detector/prima/src/utilities/primalaynet/model_tablenet.pth
