certifi==2020.12.5
flask==2.1.0
flask-cors==3.0.9
flask-restful==0.3.9
requests==2.24.0
pandas==1.1.2
pdftotext==2.1.5
python-docx==0.8.10
reportlab==3.5.66
anuvaad-auditor==1.0.0
jsonpath-rw==1.4.0
xlsxwriter==1.3.7