pandas==1.0.3
flask==1.1.2
flask-cors==3.0.8
flask-restful==0.3.8
uuid==1.30
kafka_python==2.0.1
anuvaad-auditor==1.0.0
pdf2image==1.12.1
docker_compose==1.27.4
google-api-core==1.22.2
google-api-python-client==1.12.1
google-auth==1.21.2
google-cloud==0.34.0
google-cloud-vision==1.0.0
googleapis-common-protos==1.52.0
grpcio==1.32.0
numpy==1.19.2




