anuvaad_auditor==1.0.0
bcrypt==3.2.0
DateTime==4.3
Flask==2.1.0
Flask-Cors==3.0.8
Flask-Mail==0.9.1
Flask-RESTful==0.3.9
PyJWT==1.7.1
pymongo==4.6.3
PyNaCl==1.4.0
requests==2.24.0
uuid==1.30
pyotp==2.8.0
PyQRCode==1.2.1
pypng==0.20220715.0
redis==4.5.4
Werkzeug==3.0.3
