.project
.classpath
.vscode

/.idea
*.iml
.idea_modules

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

logs
*.log

target

# Properties
application.properties
application.yml
