# SET CONTEXT PATH
server.port=8081

spring.datasource.driver-class-name= {{ datasource.driver-class.name }}
spring.datasource.url= {{ datasource.url }}
spring.datasource.username= {{ datasource.username }}
spring.datasource.password= {{ datasource.password }}

spring.http.multipart.max-file-size=10MB
spring.http.multipart.max-request-size=10MB

flyway.enabled=false
flyway.user=
flyway.password=
flyway.outOfOrder=true
flyway.table=retail_user_schema_version
flyway.baseline-on-migrate=true
flyway.url=jdbc:mysql://localhost:3306/retail_user
flyway.locations=db/migration/ddl



