aniso8601==9.0.1
anuvaad-auditor==1.0.0
bidict==0.21.2
certifi==2023.7.22
chardet==3.0.4
click==7.1.2
DateTime==4.3
dnspython==1.16.0
elasticsearch==7.11.0
eventlet==0.30.2
Flask==2.2.5
Flask-Cors==3.0.10
Flask-RESTful==0.3.8
Flask-SocketIO==5.0.1
greenlet==1.0.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
kafka-python==2.0.2
MarkupSafe==1.1.1
python-engineio==4.0.0
python-socketio==5.0.4
pytz==2021.1
requests==2.32.2
six==1.15.0
urllib3==1.26.5
uuid==1.30
Werkzeug==1.0.1
zope.interface==5.2.0
