/* font-family: 'Roboto', sans-serif;
font-family: 'Rowdies', cursive; */
* img {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
html, body {
    max-width: 100%;
    height: 100%;
    font-size: 16px;

}
body {
    font-family: 'Roboto', sans-serif;
    color: #0C0F0F;
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 2;
}

:focus,
button:focus,
.btn:focus,
.form-control:focus {
    outline: none;
    box-shadow: none;
}
ul, li {
/*     list-style: none; */
    padding-inline-start: 0;
    padding: 0;
    margin: 0;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #4E6079;
}
a {
    color: #ffffff;
    /*     font-size: .875rem; */
}
a:hover { 
   text-decoration: underline;
   color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;

}

/* css start here */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Rowdies', cursive;
  font-weight: 400;
  letter-spacing: -1px;
    line-height: 1.3;
}
h1, .h1 {
  font-size: 3.125rem;
  font-weight: 300;
}
h2,.h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
h6, .h6 {
  font-weight: 300;
}
.h7 {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.ft-14 {
  font-size: .875rem;
  line-height: 1.5;
}
.ft-20 {
  font-size: 1.25rem;
  line-height: 2rem;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.primary-color {
    background-color: #0F2749 !important;
}
.bg-gray {
    background-color: #F3F5F7;
}
.text-primary {
  color: #2961AD !important;
}
.yellowColor {
  color: #FEBF2C !important;
}
.lighGrey {
  color: #707E92 !important;
}
.text-black {
    color: #3A3A3A;
}
header {
  width: 100%;
  background-color: #ffffff;
  padding: .6rem .75rem;
}
.bhashini-logo img {
    height: 50px;
    width: auto;
}
.navbar.bg-light {
    background-color: #f3f3f3!important;
    padding: 4px 0 0;
}
.navbar-light .navbar-nav .nav-link {
    color: #3a3a3a;
    padding:  .4rem 0;
    margin-left:.9rem ;
    margin-right: .9rem;
    border: none;
    border-bottom: 3px solid transparent;

}
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    border-bottom: 3px solid #FF7F11;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:hover {
    border-color: #FF7F11;
}
.bh-btn-primary {
    background-color: #2961AD;
    border-radius: 30px;
    padding: 5px 40px !important;
    letter-spacing: .5px;
    /* font-weight: 500; */
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;

}

.mainBanner {
    background-color: #DEECFF;
    border-top: 1px solid #C8D5E6;
    border-bottom: 1px solid #C8D5E6;
    padding: 4rem 0;
    position: relative;
    overflow: hidden;
}
.mainBanner .roundShape {
    width: 45%;
    height: 160px;
    border-radius: 0 8rem 8rem 0;
    background-color: #2A61AE;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
  .shape1, .shape2{
    position: absolute;
    right: 0;
    top: 0;
}
  .shape1{
    transform: rotate(-180deg);
}


.shape2 { left: 0; top:0;}

.bannerImg img {
    max-width: 120%;
}

.section {
  padding: 30px 0;
  position: relative;
}

.line {
    width: 24px;
    height: 4px;
    background-color: #1DB5D8;
    border-radius: 4px;
    margin: 0 auto;
}
.ulcaInfo ul,
footer ul {
  list-style: none;
}
.ulcaInfo li {
  border: 1px solid #E6E6E6;
  padding: .8rem 1rem .8rem 3rem;
  margin-top:-1px;
  background-color: #ffffff; 
  font-size: 1.25rem;
}
.ulcaInfo li::before {
  content: '';
  background: url('../img/fwd-arrow.svg') no-repeat 0 0;
  width: 24px;
  height: 24px;

  position: absolute;
  left: 2rem;
  margin-top: 6px;
}
.models {
  margin-top: 40px;
}
.models .dataset-orange {
    background: #FFFFFF;
    border: 1px solid #FFB200;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 24px;
    padding: 20px;
    position: relative;
    max-width: 365px;
    min-height: 400px;
}
.models div.col-sm-4:first-child>.dataset-orange {
    border: 1px solid #e29f72;
}
.models .dataset-orange .font-italic {
    font-size: 13px;
}
.models ul {
    min-height: 310px;
}
.models .dataset-orange ul {
    margin: 0;
    padding: 0 0 0 20px;
}
.models .dataset-orange li {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.5;
}
.models .dataset-orange::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 42%;
    width: 0;
    height: 0;
    border-top: solid 20px #E29F72;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}
.models div.col-sm-4:first-child .dataset-orange::after {
    border-top: solid 20px #FFB200;
}
.models div.col-sm-4:nth-child(3) .dataset-orange::after {
    border-top: solid 20px #9ea7c9;
}

.dataset-orange, .api-buttons {
    margin: 0 auto;
}
.api-buttons {
    max-width: 300px;
    color: #fff;
}
.bh-btn-orange {
    background: #fd973f;
    border: 1px solid #fd973f;
    color: #3A1700;
    border-radius: 24px;
    padding: 5px 40px;
    font-weight: 600;
    font-size: 1.125rem;
}
.models div.col-sm-4:first-child>.api-buttons .bh-btn-orange {
    background: #FFBF00;
    border: 1px solid #FFBF00;
}
.models div.col-sm-4:nth-child(3)>.dataset-orange {
    border: 1px solid #7E8AB8;
    box-shadow: 0px 1.81944px 1.81944px rgb(0 0 0 / 25%);
}
.models div.col-sm-4:nth-child(3)>.api-buttons .bh-btn-orange {
    background: #5f73a4;
    border: 1px solid #5f73a4;
    color: #fff;
}


footer .footerBg {
    
    display: flex;
    align-items: center;
    padding: 30px 50px;
    color: #16337B;
}
footer .section {
  padding-top: 30px;
}
footer .bg1 {
    background-color: #DFEAFB;
}
footer .bg2 {
    background-color: #C6D9F4;
}
footer .bg3 {
    background-color: #B3CAED;
}
footer .footerBg a {
  color: #16337B;
  font-size: 1.25rem;
  font-weight: 500;
}
footer .footerBg img {
  margin-right: 1rem;
}
footer ul.link li {
    padding: .5rem .875rem;
}
footer ul.link li:first-child {
  padding-left: 0;
}

@media (max-width: 1199.98px) { 
  .mainBanner .roundShape {
      display: none;
  }
  .bannerImg img {
    max-width: 120%;
    margin-left: -15%;
}
footer .footerBg {
    padding: 1rem;
}
footer .footerBg img {
    margin-right: .5rem;
    height: 48px;
}
.models .dataset-orange {
  min-height: 566px;
}
footer ul.link li {
    padding-left: 0;
}
.w-25 {
  width: 50% !important;
}
}
@media (max-width: 767.98px) { 
footer ul.link li {
    padding-left: 0;
}
header {
    padding: .6rem 0;
}
.navbar .join {
  display: none;
 }
 .navbar-light .navbar-nav .nav-link {

    margin-left: .5rem;
    margin-right: .5rem;
    font-size: .9375rem;
}
h1, .h1 {
  font-size: 3.125rem;
  font-weight: 300;
}
h2,.h2 {
  font-size: 2rem;
  font-weight: 400;
}
h6, .h6 {
  font-weight: 300;
}
.models .dataset-orange {
  min-height: auto;
}
.dashboard .row .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}
}

.join {
    margin-left: 20px;
}
.join .bh-btn-primary {
  padding: 11px 30px !important;
}












