.App{
  margin-left: -100px;
}

@media (max-width: 800px) {
  .GridFileDetails {
    display: none;
  }
}

.GridButton{
  width: 100%; overflow:hidden; white-space:nowrap; pointer-events: none; font-size: 90%; font-weight: bold;
}
.Button{
  width: 100%; pointer-events: none; font-size:'10px'; font-weight:bold;
}