/* font-family: 'Roboto', sans-serif;
font-family: 'Rowdies', cursive; */



:focus,
button:focus,
.btn:focus,
.form-control:focus {
    outline: none;
    box-shadow: none;
}
ul, li {
/*     list-style: none; */
    padding-inline-start: 0;
    padding: 0;
    margin: 0;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #4E6079;
}
a {
    color: #ffffff;
    /*     font-size: .875rem; */
}

img {
  max-width: 100%;
  height: auto;

}

.primary-color {
    background-color: #0F2749 !important;
}

.lighGrey {
  color: #707E92 !important;
}
.bh-btn-primary {
    background-color: #2961AD;
    border-radius: 24px;
    padding: 10px 22px;
    letter-spacing: .5px;
    /* font-weight: 500; */
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;

}
.ulcaInfo ul,
footer ul {
  list-style: none;
}




footer .footerBg {
    
    display: flex;
    align-items: center;
    padding: 30px 50px;
    color: #16337B;
}
footer .section {
  padding-top: 30px;
}
footer .bg1 {
    background-color: #DFEAFB;
}
footer .bg2 {
    background-color: #C6D9F4;
}
footer .bg3 {
    background-color: #B3CAED;
}
footer .footerBg a {
  color: #16337B;
}
footer .footerBg img {
  margin-right: 1rem;
}
footer ul.link li {
    padding: .5rem .875rem;
}
footer ul.link li:first-child {
  padding-left: 0;
}

@media (max-width: 1199.98px) { 
  
footer .footerBg {
    padding: 1rem;
}
footer .footerBg img {
    margin-right: .5rem;
    height: 48px;
}
.models .dataset-orange {
  min-height: 560px;
}
footer ul.link li {
    padding-left: 0;
}

}
@media (max-width: 767.98px) { 
footer ul.link li {
    padding-left:0;
}

}













